<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       					   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/**" location="WEB-INF/resources"/>
    <bean name="userDao" class="com.sap.dao.impl.UserDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean name="userService" class="com.sap.service.impl.UserServiceImp">

    </bean>

    <bean name="teamDao" class="com.sap.dao.impl.TeamDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean name="teamService" class="com.sap.service.impl.TeamServiceImp">

    </bean>

    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="txManager"/>

</beans>