<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true">
        <intercept-url pattern="/home" access="permitAll" />
        <intercept-url pattern="/" access="permitAll" />
        <!--<intercept-url pattern="/userPage/*" access="hasRole('USER')"/>-->
        <!--<intercept-url pattern="userPage" access="hasRole('USER')"/>-->
        <intercept-url pattern="/userPage" access="hasRole('USER')"/>
        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')" />
        <intercept-url pattern="/newuser" access="hasRole('ADMIN')" />
        <intercept-url pattern="/db/**" access="hasRole('ADMIN')" />
        <intercept-url pattern="/workDayDetail" access="hasRole('USER')" />
        <intercept-url pattern="/calendars" access="hasRole('ADMIN')" />
        <intercept-url pattern="/showDayDetails" access="hasRole('ADMIN')" />


        <form-login  login-page="/login"
                     username-parameter="ssoId"
                     password-parameter="password"
        authentication-success-handler-ref="customAuthenticationSuccessHandler"/>
        <access-denied-handler error-page="/Access_Denied" />
        <csrf />
    </http>


    <beans:bean id="bcryptEncoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

    <beans:bean id="customAuthenticationSuccessHandler" class="com.sap.service.impl.CustomAuthenticationSuccessHandler"/>

    <beans:bean id="customUserDetailsService" class="com.sap.service.impl.CustomUserDetailsService"/>

    <authentication-manager>
        <authentication-provider user-service-ref="customUserDetailsService">
            <password-encoder ref="bcryptEncoder" />
        </authentication-provider>
    </authentication-manager>


</beans:beans>